<app-patientnav></app-patientnav>
<div class="image-container">
<div class="dashboard">
  <fieldset>
    <div>
      <h1>Appointment Management Dashboard</h1>
      <h2>Upcoming Appointments</h2>
      <div class="appointment">
        <ng-container *ngIf="appointments.length; else noAppointment">
          <ng-container *ngFor="let appointment of appointments">
            <p>
              <strong>Appointment ID : {{ appointment.appointment_id }}</strong>
            </p>
            <p>Appointment with {{ appointment.doctor_name }}</p>
            <p>
              <b>Date: </b>{{ appointment.appointment_date }} <b>Time: </b
              >{{ appointment.slot }}
            </p>
            <hr />
          </ng-container>
        </ng-container>
        <ng-template #noAppointment>
          <p>No upcoming appointments.</p>
        </ng-template>
      </div>
    </div>
  </fieldset>
  <br />
  <br />
  <fieldset>
    <div class="appointment-actions form-group">
      <h2>Reschedule Appointment</h2>
      <form id="rescheduleForm" [formGroup]="rescheduleForm" class="form-group">
        <label for="appointmentId">Appointment ID : </label>
        <select
          name="appointmentId"
          id="appointmentId"
          required
          formControlName="appointmentId"
          class="form-control"
        >
          <br />
          <option value="">Select a Appointment ID</option>
          <option
            *ngFor="let appointment of appointments"
            [value]="appointment.appointment_id"
          >
            {{ appointment.appointment_id }}
          </option>
        </select>
        <br />
        <label for="newDate">New Date:</label>
        <input
          type="date"
          class="form-control"
          id="newDate"
          name="newDate"
          required
          formControlName="newDate"
          [min]="today | date : 'yyyy-MM-dd'"
          [max]="maxDate | date : 'yyyy-MM-dd'"
        />
        <br />
        <label for="newTime">New Time:</label>
        <select
          name="appointmentSlot"
          id="appointmentSlot"
          required
          formControlName="newTime"
          class="form-control"
        >
          <option value="">Select a slot</option>
          <option value="9:00 AM - 9:30 AM">9:00 AM - 9:30 AM</option>
          <option value="9:30 AM - 10:00 AM">9:30 AM - 10:00 AM</option>
          <option value="10:00 AM - 10:30 AM">10:00 AM - 10:30 AM</option>
          <option value="10:30 AM - 11:00 AM">10:30 AM - 11:00 AM</option>
          <option value="11:00 AM - 11:30 AM">11:00 AM - 11:30 AM</option>
          <option value="11:30 AM - 12:00 PM">11:30 AM - 12:00 PM</option>
          <option value="12:00 PM - 12:30 PM">12:00 PM - 12:30 PM</option>
          <option value="12:30 PM - 1:00 PM">12:30 PM - 1:00 PM</option>
          <option value="2:00 PM - 2:30 PM">2:00 PM - 2:30 PM</option>
          <option value="2:30 PM - 3:00 PM">2:30 PM - 3:00 PM</option>
          <option value="3:00 PM - 3:30 PM">3:00 PM - 3:30 PM</option>
          <option value="3:30 PM - 4:00 PM">3:30 PM - 4:00 PM</option>
          <option value="4:00 PM - 4:30 PM">4:00 PM - 4:30 PM</option>
          <option value="4:30 PM - 5:00 PM">4:30 PM - 5:00 PM</option>
        </select>
        <br />
        <button
          type="submit"
          (click)="rescheduleAppointment()"
          class="btn btn-primary"
        >
          Submit
        </button>
      </form>
    </div>
  </fieldset>
  <br />
  <br />
  <div>
    <h2>Cancel Appointment</h2>
    <form id="cancelForm" class="appointment-actions form-group">
      <label for="cancelAppointmentId">Appointment ID : </label>
      <br />
      <select
        name="appointmentId"
        id="appointmentId"
        required
        class="form-control"
        [(ngModel)]="appointmentId"
      >
        <br />
        <option value="">Select a Appointment ID</option>
        <option
          *ngFor="let appointment of appointments"
          [value]="appointment.appointment_id"
        >
          {{ appointment.appointment_id }}
        </option>
      </select>
      <br />
      <button
        type="submit"
        (click)="cancelAppointment()"
        class="btn btn-primary"
      >
        Cancel Appointment
      </button>
    </form>
  </div>
</div>
</div>
