<div class="main">
  <div style="background-color: rgb(233, 216, 195); padding-top: 10px;">
    <div class="brand_logo">
      <a href=""></a><h1>DISCOVER BEST FOOD & DRINKS IN HYDERABAD</h1>
    </div>
  </div>  
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" 
    style="align-items: center;
          padding-left: 180px; padding-right: 120px; padding-bottom: 11px; background-color: rgb(233, 216, 195);">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a [routerLink]="['/foods']">
          <img src="../../assets/images/Food Images/Main Images/mainimage1.jpg" alt="..." style="height: 300px; width: 900px;">
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/foods']">
          <img src="../../assets/images/Food Images/Main Images/mainimage2.jpg" alt="..." style="height: 300px; width: 900px;">
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/foods']">
          <img src="../../assets/images/Food Images/Main Images/mainimage3.jpg" alt="..." style="height: 300px; width: 900px;">
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/foods']">
          <img src="../../assets/images/Food Images/Main Images/mainimage4.jpg" alt="..." style="height: 300px; width: 900px;">
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/foods']">
          <img src="../../assets/images/Food Images/Main Images/mainimage5.jpg" alt="..." style="height: 300px; width: 900px;">
        </a>
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>  
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
