<div class="container">
  <header>
    <img src="../assets/images/Fav.png" alt="Hospital Logo" class="logo">
    <h1>Sanjeevani Hospital</h1>
  </header>

  <section class="contact-info">
    <h2>Contact Information</h2>
    <p><strong>Sanjeevani Hospital</strong></p>
    <p>1 Health Street, Bangalore, Karnataka, India</p>
    <p>Phone: +91-123-456-7890</p>
    <p>Email: contact&commat;sanjeevanihospital.com</p>
    <p>Website: <a href="http://www.sanjeevanihospital.com">www.sanjeevanihospital.com</a></p>
  </section>
  <section class="doctors">
    <h2>Our Doctors</h2>
    <div class="doctor-container">
      <div class="doctor-profile">
        <img src="../../assets/images/Doc(2).jfif" alt="Doctor 1">
        <h3>Dr. John Doe</h3>
        <p>Specialist: Cardiology</p>
        <p>Experience: 10 years</p>
      </div>
      <div class="doctor-profile">
        <img src="../../assets/images/Doc(3).jfif" alt="Doctor 2">
        <h3>Dr. Jane Smith</h3>
        <p>Specialist: Neurology</p>
        <p>Experience: 8 years</p>
      </div>
      <div class="doctor-profile">
        <img src="../../assets/images/Doc(4).jfif" alt="Doctor 3">
        <h3>Dr. Shikha Sharma</h3>
        <p>Specialist: Endocrinology</p>
        <p>Experience: 9 years</p>
      </div>
      <div class="doctor-profile">
        <img src="../../assets/images/Doc(5).jfif" alt="Doctor 4">
        <h3>Dr. Neelam Mohan</h3>
        <p>Specialist: Pediatrics</p>
        <p>Experience: 5 years</p>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Sanjeevani Hospital. All rights reserved.</p>
    <div>
      <button class="btn btn-primary" (click)="onNextClick()">Login</button>
    </div>
  </footer>
</div>