.image-container {
    
    background-color:lightcyan;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    width: 100vw;
    height: 100vh;
}