<div class="bgimg">
    <div class="welcome-container">
    <h1><b>Welcome to PSML Bank</b></h1>
    <p>Your trusted financial partner</p>
    <!-- <a [routerLink]="['register']" class="cta-button">Get Started</a> -->
     <h2 style="color: rgba(70, 28, 223, 0.76);"><b><u>"Apply for a loan and get the thrill of financial suspense! 😄"</u></b></h2>
     
        <br />
    <!-- Additional content -->
    <div class="more-content">
    <h2><b>Our Services</b></h2>
     
          <li>Home Loans</li>
    <li>Car Accounts</li>
    </div>
    <br /><br />
    <!-- More content about PMSL Bank -->
    <div class="more-content">
    <h2><b>About Us</b></h2>
    <p>
            PSML Bank has been serving customers since 1985. We pride ourselves on
            providing reliable financial solutions to individuals and businesses.
    </p>
    </div>
    <br /><br />
    <div class="more-content">
    <h2><b>Contact Us</b></h2>
    <p>
            If you have any questions or need assistance, feel free to reach out to
            our customer support team:
    </p>
    <ul>
    <li>Email: info&#64;psmlbank.com</li>
    <li>Phone: +1 (123) 456-7890</li>
    </ul>
    </div>
    </div>
    </div>
