.home-container {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #003366;
    padding: 15px;
    color: white;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    padding-bottom: 10px;
  }
  
  .navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar .nav-links li {
    margin-bottom: 10px;
  }
  
  .navbar .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .hero-section {
    text-align: center;
    padding: 50px;
    background-color: #cfcbf7;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .hero-button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .features-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #fff;
  }
  
  .feature {
    text-align: center;
    width: 30%;
    background-color: rgb(121, 218, 218);
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
    color: #666;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
  }
  