.container {
  max-width: 600px; /* Reduce the size of the box */
  margin: 50px auto; /* Center the box and add space at the top and bottom */
  padding: 20px;
  /* background-color: #ffffff; */
   /* White background for the box */
  /* border-radius: 8px; */
   /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  background-color: rgba(209, 208, 235, 0.199);
}
 
.bgimg {
  background: linear-gradient(to bottom right, #e5ec76, #e29229); /* Colorful gradient background */
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* Slightly reduce opacity for a softer look */
  min-height: 100vh; /* Ensure the background covers the entire viewport height */
  display: flex;
  align-items: center; /* Center the container vertically */
  justify-content: center; /* Center the container horizontally */
  background-image: url("../../../assets/images/OIP\ \(1\).jpg");
}
 
.full-width {
  width: 100%;
  margin-bottom: 15px;
}
 
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
 
button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
button:hover {
  background-color: #303f9f;
}
