<!-- <p>upcoming works!</p> -->

<body  >       

    
        
        <!-- <img  *ngIf="!mdet?.image" class="card-img-top" src="../../assets/images2/img_avatar1.png" [width]="200" [height]="200" alt="Card image" /> -->
    
        

        <div class="card-body" *ngFor="let m of movierelease">
            <div class="card">
              <img *ngIf="m.image" class="card-img-top" [src]="m.image" [alt]="m.name" [width]="200" [height]="200">
              <div class="card-body">
                <h5 class="card-title">Name: {{ m.name }}</h5>
                <p class="card-text">Description: {{ m.desc }}</p>
              </div>
            </div>
          </div>
   



</body>
