
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"   >
<div class="container-fluid" >
<a class="navbar-brand" [routerLink]="['/']">SANTA <img class="img-fluid" src="../../assets/images/logo.png" style="width: 30px; height:30px" /></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent" >
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
&nbsp;&nbsp;
<li class="nav-item">
<a class="nav-link" [routerLink]="['browse']">Browse</a>
</li>&nbsp;&nbsp;

<li class="nav-item">
  <a class="nav-link" [routerLink]="['review']">Review</a>
</li>





</ul>

<ul class="navbar-nav ml-auto">
<li class="nav-item">
  <button type="link" class="nav-link position-relative" [routerLink]="['cart']">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
    viewBox="0 0 16 16">
    <path
      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
  </svg>
  <span
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      *ngIf="(count$ | async)">{{count$ | async}}</span></button>
</li>
&nbsp;&nbsp;

  <li class="nav-item" *ngIf="(admin$ | async)==1">
    <a class="nav-link" [routerLink]="['umanage']">Manage Users</a>
  </li>&nbsp;&nbsp;
  <li class="nav-item" *ngIf="(admin$ | async)==1">
    <a class="nav-link" [routerLink]="['bmanage']">Manage Inventory</a>
  </li>&nbsp;&nbsp;
  <li class="nav-item" *ngIf="(admin$ | async)==1">
    <a class="nav-link" [routerLink]="['rmanage']">Manage Reviews</a>
  </li>&nbsp;&nbsp;
  
  <li class="nav-item" *ngIf="(loggedin$ | async) !== 1">
    <a class="nav-link" [routerLink]="['login']">Login</a>
  </li>&nbsp;&nbsp;
  <li class="nav-item" *ngIf="(loggedin$ | async)==1">
    <a class="nav-link" [routerLink]="['logout']"><mat-icon aria-hidden="false" aria-label="Example logout icon" fontIcon="logout" style="font-size:x-large"></mat-icon></a>
  </li>&nbsp;&nbsp;
</ul>
</div>
</div>
</nav>    

