<p>login works!</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" required />
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />
 
  
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Login</button>

    <h2 style="color:blue;"> {{ notify }}</h2>
</form>

  
   