<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/staff-startpage']"><mat-icon aria-hidden="false"
        aria-label="Example home icon" fontIcon="home"
        style="font-size: smaller;vertical-align: middle;"></mat-icon>Management

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/registrationform']">Patient</a>
            </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/patientregmanagement']">Patient Registration
            Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/staffappmanagement']">Appointment
            Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/doctor-dashboard']">Doctor Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/feedback']" data-bs-target="#feedback">Feedback</a>
        </li>

        <button type="button" class="btn btn-primary" *ngIf="(loggedin$ | async) == 1" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Logout
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you want to logout?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  [routerLink]="['/logout']">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                  onclick="javascript:history.back()">No</button>
              </div>
            </div>
          </div>
        </div>

      </ul>

    </div>
  </div>
</nav>